%table.table.table-hover
  %thead
    %tr
      %th Order date
      %th Route №
      %th Route name
      %th Depart
      - if show_details #'show_details' - for users show view; admin doesn't see these fields at admin/tickets, but sees in his profile
        %th Arrive
        %th Duration
        %th Price
      - if show_details
        %th Status
      - else
        %th User email
        %th Status
        %th Email status
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.created_at.to_formatted_s(:short)
          %td= ticket.route.route_number 
          %td= "#{ticket.route.start_point} - #{ticket.route.end_point}"
          %td= ticket.route.depart.to_formatted_s(:long)
          - if show_details
            %td= ticket.route.arrive.to_formatted_s(:long)
            %td= ticket.route.duration
            %td= number_to_currency ticket.route.price
          - if show_details
            - if ticket.approved?
              %td Approved
            - elsif ticket.rejected?
              %td Rejected
            - else
              %td In awaiting
          - else
            %td= ticket.user.email
            - if ticket.approved?
              %td Approved
              %td Email sent
            - elsif ticket.rejected?
              %td Rejected
              %td Email sent
            - else
              %td{colspan: 2}
                = form_tag admin_ticket_path(ticket.id), method: :patch do
                  = label_tag "status_approved_#{ticket.id}", "Approve"
                  = radio_button_tag :status, "approved_#{ticket.id}"
                  = label_tag "status_rejected_#{ticket.id}", "Reject"
                  = radio_button_tag :status, "rejected_#{ticket.id}"
                  = submit_tag "Send email", class: "btn btn-primary"
          
