.row
  .col-xs-10.col-xs-offset-1
    = form_tag routes_path, method: :get, id: "search-form" do

      = hidden_field_tag :direction, params[:direction] 
      = hidden_field_tag :sort, params[:sort]

      .row#from-to-inputs
        .col-xs-12
          .col-xs-5
            = text_field_tag :start_point, params[:start_point], placeholder: "From",
              class: "form-control"
          .col-xs-5.col-xs-offset-2
            = text_field_tag :end_point, params[:end_point], placeholder: "To",
              class: "form-control"
      .row
        .col-xs-4.col-xs-offset-4
          .form-group
            .input-group.date
              = text_field_tag :depart, params[:depart], placeholder: "When", id: "date-search",
                class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
      .row
        .col-xs-2.col-xs-offset-5
          = submit_tag "Search", name: nil, class: "btn btn-primary btn-lg"
