%table.table.table-hover 
  %thead
    %tr
      %th Route №
      %th From
      %th To
      - if sort
        %th= sortable "depart"
      - else
        %th Depart
      %th Arrive
      - if sort
        %th= sortable "duration", "Duration"
        %th= sortable "price"
      - else
        %th Duration
        %th Price
      %th Free seats
      - if logged_in?
        %th Tickets
      - if current_user.try(:admin?)
        %th
  %tbody
    - @routes.each do |route|
      %tr
        %td= route.route_number
        %td= route.start_point
        %td= route.end_point
        %td= route.depart.to_formatted_s(:long) 
        %td= route.arrive.to_formatted_s(:long) 
        %td= route.formatted_duration
        %td= number_to_currency route.price
        - if route.sold_out?
          %td= content_tag(:button, "Sold out", class: "btn btn-danger")
        - else
          %td= route.free_seats
        - if logged_in?
          %td
            - if current_user.bought_ticket?(route)
              = content_tag(:button, "You have one", class: "btn btn-success")
            - elsif route.sold_out?
              %span
            - else              
              = button_to "Buy a ticket", tickets_path(route_id: route), class: 'btn btn-info'       
        - if current_user.try(:admin?)
          %td= link_to "Edit", edit_admin_route_path(route)
