= content_for(:title, "Home")

%h1 Choose your route

= render 'search_form'

- if params[:start_point] || params[:end_point] || params[:depart] || params[:city]
  - if @routes.present? || @changes.present?
    - if params[:city].present?
      %h2 All routes from/to #{params[:city]}
    .col-xs-12#routes
      = render 'table', sort: true, object: @routes if @routes.present?
    - if @changes.present?
      %h3 You can get your destination with some changes
      - @changes.each do |change|
        %h4= pluralize(change.size-1, "change")
        .col-xs-12
          = render 'table', sort: false, object: change
  - else
    #no-routes No routes found
