!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? (yield(:title) + " | Tickets") : "Tickets"
    %meta{ name: "description", content: "Train tickets booking demo."}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container#content
      .row

        = render 'layouts/header'

        = render 'layouts/manual'

        - if current_user.try(:admin?)
          %ul.nav.nav-tabs
            %li{class: current_page?(admin_routes_path) && 'active'}
              = link_to "Routes", admin_routes_path
            %li{class: current_page?(admin_tickets_path) && 'active'}
              = link_to "Tickets (#{Ticket.where(status: nil).count})", admin_tickets_path
            %li{class: current_page?(new_admin_route_path) && 'active'}
              = link_to "New route", new_admin_route_path

        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}
            %a{class: "close", href: "#", "data-dismiss": "alert"} &times;
            %span= value

        = yield

    = render 'layouts/footer'
